<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
     <a href="https://www.linkedin.com/in/shivam-birla-20cse/"><i class="fa-brands fa-linkedin"></i></a> 
    </div>
    <div class="f-info-brand">&copy;WanderLust Pvt. Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
